#menu {
  display: flex;
  width: 680px;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item {
  width: 145px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.menu-item2 {
  width: 125px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}
